p{
  font-size: 1.2em;
  color: blue;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.05);
  }
}