*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
  color: #333;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  text-align: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}