@import "tailwindcss";
.App {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 2em;
  
}
:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
}